.autor-cutaway {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
}

.autor-cutaway span {
  width: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  color: rgb(250, 248, 248);
}

.author-avatar {
  width: 37%;
  height: 440px;
}