.author-image {
  grid-area: image;
}

.list-of-works{
  grid-area:  works;
}

.timeline {
  grid-area: timeline;
}

.photo-list {
  grid-area: photos;
}

.video-list {
  grid-area: video;
  position:relative;
}

.map-component {
  grid-area: map;
}

.author-page {
  display:grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: auto;
  grid-gap:10px;
  grid-template-areas: 
    "image timeline"
    "works timeline"
    "photos photos"
    "video video"
    "map map"
  ;
  justify-items: center;
  align-items: center;
}

.video-overlay {
  position:fixed;
  top:0;
  left:0;
  z-index:1;
  height:100%;
  width:100%;
  background:#ffffff;
  opacity:0.6;
  display:none;    
}
.video-video {
  display:none;
  position: absolute;
  top:0px;
  left:-250px;
  z-index:2;
}
