.homepage {
  display:flex;
  width:80%;
  height:80vh;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  padding:5px;
  background:lightgrey;
}

.homepage>* {
  margin-bottom:10px;
}

.auth-img {
  width:400px;
  height:400px;
}

.author-of-the-day {
  text-align: center;
}
